<html>
<head>
	<title>The App</title>
</head>
<body>
	<h1>Search: </h1>
	<input type="text" name="query"> 
	<input type="submit" value="Go">

	<h1>Category: </h1>
	<table>
		<tbody>
			<tr>
				<td> <input type="submit" value="Jobs"> </td>
				<td> <input type="submit" value="Housing"> </td>
				<td> <input type="submit" value="Reviews"> </td>
			</tr>
			<tr>
				<td> <input type="submit" value="How-To's"> </td>
				<td> <input type="submit" value="Vacation"> </td>
				<td> <input type="submit" value="Investing"> </td>
			</tr>
			<tr>
				<td> <input type="submit" value="Media"> </td>
				<td> <input type="submit" value="News"> </td>
				<td> <input type="submit" value="Gaming"> </td>
			</tr>
		</tbody>
	</table>
	<h1>Suggested Content</h1>
</body>
</html>
