<html>
	<head>
		<title>The App</title>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="../css/bootstrap-theme.css" rel="stylesheet">
		<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="../css/bootstrap.css" rel="stylesheet">
		<link href="../css/index.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
	    <script src="/js/buttonClick.js"></script>

	</head>
	<body>

		<div class="container-fluid">
			<header class="header">
				<form role="form" method="GET" action="/makeQuery">
					<input class="entry" type="text" id="entry" name="entry" placeholder="Regular basic search..."/> <br>
				</form>
				<h4>
					Or, make a much better search below...
				</h4>
			</header>
			<div class="row">
				{{#each categories}}
					<button class="selectCategory" id="category" name="category" onclick="/refine">{{name}}</button>
				{{/each}} <br>
			</div>
			<footer class="footer">
				<button class="footerButton" onclick="/editPage">Edit</button>
				<button class="footerButton" onclick="/addCategory">Add</button>
				<button class="logout" onclick="/logout">Logout</button>
			</footer>
		</div>

	</body>
	
</html>
