
<html>
	<head>
		<title>The App</title>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=0.8">
		<link href="../css/bootstrap-theme.css" rel="stylesheet">
		<link href="../css/bootstrap.css" rel="stylesheet">
		<link href="../css/index.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
	    <script src="/js/buttonClick.js"></script>

	</head>
	<body>
		<div class="container">
			<header class="header">
				<h1>Category Search</h1>
			</header>
			<form autocomplete="off" role="form" method="get" action="/makeQuery">
				<label>Search: </label>
				
				<input class="entry" type="text" id="entry" name="entry"> <br>
				<a class="suggested" href="suggested">Suggested Content</a>
				<h3>Categories: </h3>
				{{#each categories}}
					<input class="selectCategory" id="category" name="category" type="button" value="&quot;{{name}}&quot;">
				{{/each}} <br>
				<input class="submitButton" type="submit" value="Go">
			</form>
		</div>
	</body>
</html>
