<html>
	<head>
		<title>The App</title>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="../css/bootstrap-theme.css" rel="stylesheet">
		<link href="../css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="../css/bootstrap.css" rel="stylesheet">
		<link href="../css/index.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
	    <script src="/js/buttonClick.js"></script>
		<script src="/js/addedit.js"></script>
		<!-- Google Analytics -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-134940364-2', 'auto');
			ga('send', 'pageview');
		</script>
		<!-- End Google Analytics -->
	</head>
	<body>

		<div class="container-fluid">
			<header class="header">
				<form role="form" method="GET" action="/makeQuery">
					<input class="entry" type="text" id="entry" name="entry" placeholder="Regular basic search..."/> <br>
				</form>
				<h4>
					Or, make a much better search below...
				</h4>
			</header>
			<div class="footer">
				<button class="editButton" onclick="location.href='/edit'">Edit</button>
				<button class="addButton" onclick="location.href='/add'">Add</button>
			</div>
			<div class="row">
				{{#each categories}}
					<form class="formCategory" role="form" method="GET" action="/refine">
						<input class="selectCategory" id="{{name}}" name="entry" onclick="/refine" type="submit" value="{{name}}"/>
					</form>
				{{/each}} <br>
			</div>
			<footer class="footer">
				<button class="logout" onclick="location.href='/'">Logout</button>
				<button class="logout">If you like this mode more, press this button</button>
			</footer>
		</div>
	</body>
	
</html>
