<html>
	<head>
		<title>The App</title>
		<meta charset="utf-8">
		<link href="../css/bootstrap-theme.css" rel="stylesheet">
		<link href="../css/bootstrap.css" rel="stylesheet">
		<script src="https://code.jquery.com/jquery.js"></script>
		{{> facebook}}
		<script src="/js/facebook.js"></script>
    </head>
    <body>
		<div class="container">
			<header>
				<h1>Login</h1>
			</header>

            <form role="form" method="get" action="/index">
                <label>Username: </label>
				<input class="entry" type="text" id="entry" name="entry"> <br>
                <label>Password: </label>
				<input class="entry" type="password" id="entry" name="entry"> <br>
                <input class="submitButton" type="submit" value="Login">
            </form>
        </div>
        <div class ="container">
        	<h2> Login with Facebook! </h2>
	        <p class="facebookLogin">
				<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
				</fb:login-button>
			</p>
		</div>
		<script>
		  window.fbAsyncInit = function() {
		    FB.init({
		      appId      : '624949807951142',
		      cookie     : true,
		      xfbml      : true,
		      version    : 'v3.2'
		    });
		      
		    FB.AppEvents.logPageView();   
		    FB.Event.subscribe('auth.login', function(){
			    window.location = 'index';
			});
		      
		  };

		  (function(d, s, id){
		     var js, fjs = d.getElementsByTagName(s)[0];
		     if (d.getElementById(id)) {return;}
		     js = d.createElement(s); js.id = id;
		     js.src = "https://connect.facebook.net/en_US/sdk.js";
		     fjs.parentNode.insertBefore(js, fjs);
		   }(document, 'script', 'facebook-jssdk'));
		</script>
    </body>
</html>
