<html>
<head>
    <title>The App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/bootstrap-theme.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet">
    <script>
        function goBack(){
            window.history.back();
        }
    </script>
</head>
<body>
<div class="container">
    <button onclick="goBack()">Back</button>
    <h1>this result</h1>
</div>
</body>
</html>