.formCategory{
  height: calc((100%/3));
  width: calc( (100% / 3));
  background-color: red;
  border-style: solid;
  display: inline-block;
  font-size: 0px;
  border-width: 1px;
  border-color: darkred;
  word-wrap: break-word;
}

.selectCategory{
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: white;
  border-style: solid;
  display: inline-block;
  font-size: 24px;
  color: rgb(180, 0, 0);
  border-color: darkred;
  overflow-wrap: break-word;
  border-width: 1px;
  padding: 1px;
  font-weight: bold;
}

body{
  margin: 0px;
}

div.row{
  font-size: 0px;
  top: 70px;
  left:15px;
  position: absolute;
  overflow-y: scroll;
  width: 100%;
  height: calc(100% - 70px);
}

h4{
  text-align: center;
  margin: auto;
  padding: 5px;
  background-color: red;
  width: 80%;
  height: 70px;
  display:flex;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  border-color: darkred;
  color: white;
}

  
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
  
header{
  width: 100%;
  height: 70px;
}

footer.footer{
  width: 100%;
  font-size: 0px;  
  display: inline-block; 
}


.editFooterButton{
  height: 70px;
  width: 20%;
  float: left;
  color: white;
  border-style: solid;
  font-size: 24px;
  border-width: 1px;
  border-color: darkred;
  background-color: red;
}

.editLink{
  color: white !important;
  background-color: red;
}

.panel-title{
  background-color: red !important;
  margin: 0px !important;
  width: 100% !important;
}

.panel-heading{
  background-color: red !important;
  border-color: darkred !important;
  padding: 0px !important;
  width: 100% !important;
}

.panel-group{
  background-color: white !important;
}

.panel-default{
  background-color: white !important;
}

.btn-danger{
  background-color: red !important;
  color: white;
  border-color: red !important;
  background-image: none !important;
  
  border-radius: 0px;
  border-width: 0px;
  margin: 5px;
}

.btn-lg{
  border-radius: 0px;
  border-width: 0px;
  background-color: lightgray;
  margin: 10px;
}

label{
  margin: 10px;
}