input.selectCategory{
  height: 100px;
  width: 100px;
  margin-block-end: 25px;
  margin-block-start: 25px;
  margin-left: 25px;
  margin-right: 25px;
  border-style: solid;
  border-radius: 50%;
  display: inline-block;
}

/*
input.selectCategory:focus {
    background: #e5e5e5;
    outline: none;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
} */

input.selected{
  height: 100px;
  width: 100px;
  margin-block-end: 25px;
  margin-block-start: 25px;
  margin-left: 25px;
  margin-right: 25px;
  border-style: solid;
  border-radius: 50%;
  display: inline-block;
  background-color: darkblue;
  color: white;
}

input.submitButton{
  margin: 0 auto;
  height: 75px;
  width: 500px;
  margin-block-end: 25px;
  margin-block-start: 25px;
  margin-left: 25px;
  margin-right: 25px;
  border-style: solid;
  display: inline-block;
}

input.entry{
    height: 50px;
    width: 500px;
    margin-block-end: 25px;
    margin-block-start: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

html, body {
    width: 100%;
}
table {
    margin: 0 auto;
    margin-block-end: 25px;
    margin-block-start: 25px;
    margin-left: 50px;
    margin-right: 25px;
}

a.suggested{
    margin: 0 auto;
    font-size: 20px;
    margin-block-end: 25px;
    margin-block-start: 25px;
    margin-left: 25px;
    margin-right: 25px;
}