.formCategory{
  height: 200px;
  width: calc( (100% / 3));
  background-color: paleturquoise;
  border-style: solid;
  display: inline-block;
  font-size: 0px;
  border-width: 1px;
  border-color: lightseagreen;
}

.headerForm{
  font-size: 0px;
  margin: 0px;
}

.selectCategory{
  height: 200px;
  width: 100%;
  background-color: white;
  border-style: solid;
  display: inline-block;
  font-size: 24px;
  color: darkgreen;
  border-color: lightseagreen;
}

body{
  margin: 0px;
}

div.row{
  font-size: 0px;
  top: 120px;
  left:15px;
  position: absolute;
  overflow-y: scroll;
  width: 100%;
  height: calc(100% - 250px);
}

h4{
  text-align: center;
  margin: auto;
  padding: 5px;
  background-color: paleturquoise;
  width: auto;
  height: 70px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.selectCategory:focus {
    background:rgba(11, 160, 187, 0.699);
    color: rgb(24, 138, 132);
} 
/*
button.selected{
  height: 200px;
  width: calc( (100% / 3));
  background-color: white;
  border-style: solid;
  display: inline-block;
  font-size: 12px;
}*/

input.entry{
  height: 50px;
  width: 80%;
  padding: 10px;
  margin: auto; 
  border-width: 1px;
  border-color: lightseagreen;
  float: left;
  font-size: 14px;
}

.one-edge-shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

header{
  width: 100%;
  height: 120px;
  background-color: paleturquoise;
  border-width: 1px;
  border-color: lightseagreen;
  position: fixed;
}

.footer{
  height: 130px;
  width: 100%;
  font-size: 0px;  
  display: inline-block; 
  position: absolute; 
  bottom: 0;
}

button.footerButton{
  height: 80px;
  width: 50%;
  display: inline-block;
  background-color: white;
  border-style: solid;
  font-size: 24px;
  border-width: 1px;
  border-color: lightseagreen;
  background-color: paleturquoise;
}

button.footerButtonB{
  height: 80px;
  width: 50%;
  display: inline-block;
  background-color: white;
  border-style: solid;
  font-size: 24px;
  border-width: 1px;
  border-color: lightseagreen;
  background-color: paleturquoise;
}

button.logout{
  height: 50px;
  width: 20%;
  font-size: 14px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: lightseagreen;
  background-color: paleturquoise;
}

button.like{
  height: 50px;
  width: 100%;
  font-size: 14px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: lightseagreen;
  background-color: paleturquoise;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}