img{
    height: 40px;
    width: 30px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

button{
    display: inline-block;
    vertical-align: middle;
}

h3{
    display: inline-block;
    vertical-align: middle;
    margin-left: 25%;
}

.linkName{
    font-size: 17px;
}
